.gallery {
    margin-bottom: clamp(95px, vw(135px), 135px);

    &-title {
        padding: 0 clamp(10px, vw(80px), 80px);
        margin-bottom: clamp(20px, vw(50px), 50px);
    }

    .swiper {
        padding: 0 clamp(10px, vw(80px), 80px);
        align-items: center;
        display: flex;
        flex: 1;

        &-slide {
            aspect-ratio: 13 / 10;
            max-height: 800px;
            border-radius: clamp(18px, vw(43px), 43px);
            background-position: center;
            background-size: cover;
        }

        &-prev,
        &-next {
            z-index: 2;
            position: absolute;
            font-size: 46px;
            color: var(--color-white);
            transition: color 0.4s ease, opacity 0.4s ease;
            cursor: pointer;

            &:hover {
                color: var(--color-red);
            }

            &::after {
                display: none;
            }
        }

        &-prev {
            left: 90px;
        }

        &-next {
            right: 45px;
        }

        &-button-disabled {
            opacity: 0;
        }
    }
}



@media(max-width: 767px) {
    .gallery {

        &-title {
            padding: 0 10px;
        }

        .swiper {
            padding: 0 10px;

            &-slide {
                border-radius: 18px;

            }

            &-prev,
            &-next {
                display: none;
            }

        }
    }
}