.levels {
    margin-bottom: 145px;
    padding: 0 80px;

    &-title {
        color: var(--color-black-light);
        margin-bottom: 20px;
    }

    .swiper {

        &-wrapper {
            padding-top: 75px;
        }

        &-pagination {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            height: -moz-fit-content;
            position: absolute;
            top: 0;

            span {
                display: block;
                height: fit-content;
                height: -moz-fit-content;
                margin-right: 20px!important;
                opacity: 1;

                &:last-child {
                    margin-right: 0!important;
                }

                &.swiper-pagination-bullet-active {
                    background-color: var(--color-red);
                    border-color: var(--color-red);
                    color: var(--color-white);
                }
            }
        }
        
        &-slide {
            position: relative;
            aspect-ratio: 2 / 1;
            background-color: var(--color-grey);
            border-radius: 58px;
            padding: 45px 55px;

            .header {
                display: flex;
                margin-bottom: 25px;

                h3 {
                    color: var(--color-black-light);
                    font-size: 30px;
                    margin-right: 130px;
                }

                ul {
                    flex: 1;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                }

                li {
                    color: var(--color-black-light);
                    font-size: 20px;
                    margin-right: 35px;
                    margin-bottom: 5px;

                    span {
                        color: var(--color-red);
                    }
                }
            }

            .buttons {
                position: absolute;
                bottom: 35px;
                right: 40px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-size: 20px;
                    margin-bottom: 15px;
                    outline: none;
                    cursor: pointer;
                    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

                    &:hover {
                        color: var(--color-white);
                        background-color: var(--color-red);
                        border-color: var(--color-red);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}