.modernization {
    position: relative;
    margin-bottom: 80px;
    padding: clamp(50px, vw(70px), 70px) 0 clamp(50px, vw(80px), 80px) clamp(10px, vw(80px), 80px);

    &::before {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: vw(930px);
        height: 100%;
        background-color: var(--color-green);
        border-radius: 0 58px 58px 0;
    }

    &-title {
        color: var(--color-white);
        margin-bottom: clamp(40px, vw(65px), 65px);
    }

    &-container {
        display: flex;
        align-items: center;
    }

    &-content {
        color: var(--color-white);
        width: 100%;
        max-width: clamp(350px, vw(435px), 435px);

        h3 {
            font-size: clamp(24px, vw(32px), 32px);
            margin-bottom: clamp(20px, vw(30px), 30px);
            padding-right: clamp(40px, vw(80px), 80px);
        }

        p {
            padding-right: clamp(55px, vw(110px), 110px);
            margin-bottom: 0;
        }
    }

    .swiper {
        padding-right: clamp(10px, vw(80px), 80px);
        flex: 1;

        &-slide {
            position: relative;
            aspect-ratio: 9 / 7;
            background-position: center;
            background-size: cover;
            border-radius: 43px;
            max-height: 650px;

            span {
                position: absolute;
                top: 57px;
                left: 0;
                display: block;
                width: fit-content;
                width: -moz-fit-content;
                text-transform: uppercase;
                padding: 2px 10px;
                font-family: "NorthlaneOne";
                font-size: clamp(15px, vw(24px), 24px);
                color: var(--color-white);
                background-color: var(--color-green);
            }
        }
    }
}



@media(max-width: 991px) {
    .modernization {

        &::before {
            width: 550px;
            max-width: calc(100% - 10px);
        }
        
        &-container {
            flex-wrap: wrap;

            p {
                margin-bottom: 60px;
            }
        }

        .swiper {
            flex: initial;

            &-slide {
                margin-bottom: 35px;
                
                span {
                    background-color: transparent;
                    top: initial;
                    left: 15px;
                    bottom: -36px;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                }
            }

            &-slide-active {

                span {
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .modernization {
        padding: 50px 0 50px 20px;

        &-title {
            padding-right: 20px;
        }

        &-content {
            width: calc(100% - 10px);
        }

        .swiper {
            margin-left: -10px;
        }
    }
}