.numbers {
    padding: 0 clamp(30px, vw(105px), 105px) 0 clamp(10px, vw(80px), 80px);
    margin-bottom: clamp(90px, vw(120px), 120px);
    display: flex;

    &-tiles {
        width: vw(810px);
        margin-right: vw(50px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-tile {
        display: flex;
        flex-wrap: wrap;
        width: calc(50% - clamp(7.5px, vw(10px), 10px));
        padding: clamp(10px, vw(20px), 20px) clamp(15px, vw(40px), 40px) clamp(15px, vw(30px), 30px);
        margin-bottom: clamp(5px, vw(15px), 15px);
        color: var(--color-white);
        border-radius: clamp(25px, vw(58px), 58px);
        min-height: clamp(100px, vw(230px), 230px);

        &--red {
            background-color: var(--color-red);
        }

        &--green {
            background-color: var(--color-green);
        }

        &--black {
            background-color: var(--color-black);
        }

        &--grey {
            background-color: var(--color-grey);
            color: #282828;
        }

        &--half {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .title {
            width: 100%;
            font-family: "NorthlaneOne";
            font-size: clamp(28px, vw(64px), 64px);
            margin-bottom: 0;
            height: fit-content;
            height: -moz-fit-content;

            small {
                font-size: clamp(17.5px, vw(40px), 40px);
            }

            &--extended {
                display: flex;
                align-items: center;

                span {
                    display: block;
                    width: fit-content;
                    width: -moz-fit-content;
                    margin: 0 0 0 clamp(5px, vw(15px), 15px);
                    font-size: clamp(9px, vw(20px), 20px);
                    font-family: "HelveticaNowProTextRegular";
                }
            }
        }

        span {
            margin-top: auto;
            display: block;
            font-size: clamp(10px, vw(20px), 20px);
        }
    }

    &-content {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        h2 {
            margin-bottom: 30px;
        }

        p {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
}



@media(max-width: 991px) {
    .numbers {
        flex-wrap: wrap;
        padding: 0 clamp(30px, vw(80px), 80px) 0;

        &-tiles {
            order: 2;
            width: 100%;
            margin-right: 0;
        }

        &-tile {
            width: calc(50% - 3.5px);
        }

        &-content {
            order: 1;
            width: 100%;

            h2 {

                br {
                    display: none;
                }
            }

            p {
                margin-bottom: 50px;
                padding-right: clamp(20px, vws(50px), 50px);
            }
        }
    }
}

@media(max-width: 767px) {
    .numbers {
        flex-wrap: wrap;
        padding: 0 10px 0;
    }
}