.footer {
    position: relative;
    padding: vw(40px) vw(62.5px) vw(40px) vw(40px);
    color: var(--color-white);
    background-color: var(--color-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-logo {
        width: vw(121px);
        height: auto;
        margin-right: vw(20px);
    }

    &-menu {

        ul {
            height: fit-content;
            height: -moz-fit-content;
        }

        a {
            font-size: vw(24px);
            padding: 0 vw(17.5px);
            color: var(--color-white);
            
            &:hover {
                color: var(--color-red);
            }
        }
    }

    &-copyrights {
        width: 100%;
        padding: 0 vw(80px);
        position: absolute;
        left: 0;
        bottom: vw(50px);
        font-size: vw(16px);
        text-transform: uppercase;
        display: flex;
        justify-content: end;


        span {
            display: block;
            
            &:first-child {
                margin-right: vw(265px);
            }
        }
    }
}



@media (max-width: 1439px) {
    .footer {
    
        &-logo {
            margin-right: 20px;
        }
    
        &-menu {
    
            a {
                font-size: clamp(17px, vw(24px), 24px);
                padding: 0 clamp(15px, vw(17.5px), 17.5px);
            }
        }
    
        &-copyrights {
            font-size: clamp(12px, vw(16px), 16px);
        }
    }
}

@media (max-width: 991px) {
    .footer {
        padding: 35px 20px;

        &-logo {
            min-width: 80px;
            margin: 0 auto 30px auto;
        }

        &-menu {
            width: 100%;
            margin-bottom: 40px;

            ul {
                justify-content: center;
                width: 100%;
            }
        }

        &-copyrights {
            padding: 0;
            width: 100%;
            max-width: 670px;
            margin:  0 auto;
            justify-content: space-between;
            position: initial;

            span {
                margin: 0!important;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {

        &-menu {

            ul {
                flex-wrap: wrap;
            }

            li {
                width: 100%;
                text-align: center;
                margin: 0 0 7.5px 0!important;
            }

            a {
                font-size: 18px;
                width: fit-content;
                width: -moz-fit-content;
                margin: 0 auto;
                padding: 7.5px 0;
            }
        }

        &-copyrights {
            flex-wrap: wrap;

            span {
                font-size: 14px;
                width: 100%;
                text-align: center;
                margin-bottom: 10px!important;

                &:last-child {
                    margin-bottom: 0!important;
                }
            }
        }
    }
}