.footer {
    position: relative;
    padding: 40px 62.5px 40px 40px;
    color: var(--color-white);
    background-color: var(--color-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-logo {
        width: 121px;
        height: auto;
        margin-right: 20px;
    }

    &-menu {

        ul {
            height: fit-content;
            height: -moz-fit-content;
        }

        a {
            font-size: 24px;
            padding: 0 17.5px;
            color: var(--color-white);
            
            &:hover {
                color: var(--color-red);
            }
        }
    }

    &-copyrights {
        width: 100%;
        padding: 0 80px;
        position: absolute;
        left: 0;
        bottom: 50px;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        justify-content: end;


        span {
            display: block;
            
            &:first-child {
                margin-right: 265px;
            }
        }
    }
}