.footer {
    position: relative;
    padding: 40px clamp(30px, vw(62.5px), 62.5px) 40px clamp(30px, vw(40px), 40px);
    color: var(--color-white);
    background-color: var(--color-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-logo {
        width: clamp(93px, vw(121px), 121px);
        height: auto;
        margin-right: 20px;
    }

    &-menu {

        ul {
            height: fit-content;
            height: -moz-fit-content;
        }

        a {
            font-size: clamp(20px, vw(24px), 24px);
            padding: 0 clamp(15px, vw(17.5px), 17.5px);
            color: var(--color-white);
            
            &:hover {
                color: var(--color-red);
            }
        }
    }

    &-copyrights {
        width: 100%;
        padding: 0 clamp(30px, vw(80px), 80px);
        position: absolute;
        left: 0;
        bottom: 50px;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        justify-content: end;


        span {
            display: block;
            
            &:first-child {
                margin-right: vw(265px);
            }
        }

        a {
            color: var(--color-white);

            &:hover {
                color: #c13e28;
            }
        }
    }
}



@media (max-width: 991px) {
    .footer {
        padding: 45px 30px;

        &-logo {
            min-width: 80px;
            margin: 0 auto 30px auto;
        }

        &-menu {
            width: 100%;
            margin-bottom: 40px;

            ul {
                justify-content: center;
                width: 100%;
            }
        }

        &-copyrights {
            padding: 0;
            width: 100%;
            max-width: 670px;
            margin:  0 auto;
            justify-content: space-between;
            position: initial;

            span {
                margin: 0!important;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {

        &-logo {
            margin-left: 0;
        }

        &-menu {
            width: 50%;
            margin-bottom: 80px;

            ul {
                flex-wrap: wrap;
            }

            li {
                width: 100%;
                text-align: center;
                margin: 0 0 16px 0!important;

                &:last-child {
                    margin-bottom: 0!important;
                }
            }

            a {
                width: 100%;
                line-height: 1.35;
                text-align: right;
                padding: 0;
            }
        }

        &-copyrights {
            flex-wrap: wrap;

            span {
                width: 100%;
                text-align: center;
                margin-bottom: 10px!important;

                &:last-child {
                    margin-bottom: 0!important;
                }
            }
        }
    }
}