.header {
    position: relative;
    padding: 10px 20px;
    margin-bottom: clamp(15px, vw(60px), 60px);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index:50;
    background-color: var(--color-white);
    transition: transform 0.4s ease, top 0.4s ease;

    &-logo {
        position: absolute;
        top: 24px;
        left: 20px;
        display: block;
        width: clamp(80px, vw(176px), 176px);
        height: auto;

        transition: width 0.4s ease, top 0.4s ease;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-menu {
        height: 45px;
        transition: height 0.4s ease;

        a {
            font-size: 17px;
            padding: 10px clamp(15px, vw(25px), 25px);
            color: var(--color-black);

            &:hover {
                color: var(--color-red);
            }
        }
    }

    &.scrolled {

        .header {
            
            &-logo {
                top: 10px;
                width: 53px;
            }

            &-menu {
                height: 80px;
            }
        }
    }

    &.novisible {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0%);
    }
}



@media(max-width: 991px) {
    .header {
        display: flex;
        margin-bottom: 15px;

        &-logo {
            position: static;
            z-index: 99;
            top: 20px;
            width: clamp(80px, vws(110px), 110px);
        }

        &-menu {
            z-index: 98;
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            width: calc(100vw - clamp(110px, vws(155px), 155px));
            height: 100vh!important;
            background-color: var(--color-grey);
            padding: 180px 45px 100px;
            flex-wrap: wrap;
            align-content: space-between;
            border-radius: 58px 0 0 58px;
            transform: translateX(100%);
            transition: transform 0.3s ease;

            ul {
                width: 100%;
                height: fit-content;
                height: -moz-fit-content;
                flex-wrap: wrap;
            }

            li {
                width: 100%;
                text-align: center;
                margin: 0 0 20px 0 !important;
                opacity: 0;
                position: relative;
                left: 100vw;
            }

            a {
                width: fit-content;
                width: -moz-fit-content;
                font-size: clamp(26px, vws(30px), 30px);
                margin-left: auto;
                padding: 0;
            }

            .menu-language {
                opacity: 0;
                transition: opacity 0.9s ease;
            }

            &.is-active {
                transform: translateX(0);

                li {
                    opacity: 1;
                    left: 0vw;

                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transition: opacity 0.5s #{($i * 0.15) + 0.2}s ease,
                            left 0.45s #{($i * 0.15) + 0.2}s ease;
                        }
                    }
                }

                .menu-language {
                    opacity: 1;
                }
            }
        }

        &.scrolled {

            .hamburger {
                margin-top: 20.5px;
            }

            .header {

                &-menu {
                    width: calc(100vw - 83px);
                }
            }
        }
    }
}