.menu {
    display: flex;
    justify-content: end;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    li {
        margin: 0 vw(5px);

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-family: "NorthlaneOne";
        display: block;
    }

    &-language {
        color: var(--color-red)!important;

        &:hover {
            color: var(--color-black)!important;
        }
    }
}



@media(max-width: 991px) {
    .menu {

        &-language {
            font-size: clamp(26px, vws(30px), 30px);
            width: fit-content;
            width: -moz-fit-content;
            height: fit-content;
            height: -moz-fit-content;
            margin-left: auto;
        }
    }
}